palette = "dracula"

format = """
$directory\
$conda\
$git_branch\
$git_status\
$fill\
$c\
$julia\
$lua\
$nodejs\
$rust\
$python\n\
[  ](fg:green)
"""


[palettes.dracula]
{{- if eq .theme "dark" }}
background   = "#0B0D0F"
green        = "#8AFF80"
orange       = "#FFCA80"
pink         = "#FF80BF"
purple       = "#9580FF"
red          = "#FF9580"
yellow       = "#FFFF80"
{{- else }}
background   = "#C4C4C4"
green        = "#14710A"
orange       = "#A34D14"
pink         = "#A3144D"
purple       = "#644AC9"
red          = "#CB3A2A"
yellow       = "#846E15"
{{- end }}


[directory]
format = "[](fg:background)[$path]($style)[](fg:background) "
style = "bg:background fg:green"
truncation_length = 3
truncation_symbol = "…/"

[fill]
style = "fg:background"
symbol = " "

[git_branch]
format = "[](fg:background)[ $symbol $branch ]($style)[](fg:background) "
style = "bg:background fg:pink"
symbol = ""

[git_status]
style = "bg:background fg:red"
format = '[](fg:background)[$all_status$ahead_behind]($style)[](fg:background) '
disabled = false

# Languages
[c]
style = "bg:background fg:orange"
format = "[](fg:background)[$symbol$version]($style)[](fg:background) "
disabled = false
symbol = " "

[julia]
style = "bg:background fg:orange"
format = "[](fg:background)[$symbol$version]($style)[](fg:background) "
disabled = false
symbol = " "

[nodejs]
style = "bg:background fg:orange"
format = "[](fg:background)[$symbol$version]($style)[](fg:background) "
disabled = false
symbol = "󰎙 "

[rust]
style = "bg:background fg:orange"
format = "[](fg:background)[$symbol$version]($style)[](fg:background) "
disabled = false
symbol = ""

[conda]
style = "bg:background fg:yellow"
format = '[](fg:background)[$symbol$environment]($style)[](fg:background) '
disabled = false

[python]
style = "bg:background fg:orange"
format = '[](fg:background)[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)[](fg:background) '
disabled = false
symbol = ' '

[lua] 
style = "bg:background fg:orange"
format = "[](fg:background)[$symbol$version]($style)[](fg:background) "
disabled = false
symbol = '  '
