# -*- mode: conf-toml -*-
palette = "dracula"

format = """
$directory\
$conda\
$git_branch\
$git_status\
$fill\
$c\
$lua\
$rust\
$python\n\
[  ](fg:green)
"""


[palettes.dracula]
{{- if eq .theme "dark" }}
background   = "#0B0D0F"
green        = "#8AFF80"
orange       = "#FFCA80"
pink         = "#FF80BF"
purple       = "#9580FF"
red          = "#FF9580"
yellow       = "#FFFF80"
{{- else }}
background   = "#C4C4C4"
green        = "#14710A"
orange       = "#A34D14"
pink         = "#A3144D"
purple       = "#644AC9"
red          = "#CB3A2A"
yellow       = "#846E15"
{{- end }}


[directory]
format = "[$path]($style) "
style = "bg:background fg:green"
truncation_length = 3
truncation_symbol = "…/"

[fill]
style = "fg:background"
symbol = " "

[git_branch]
format = "[$symbol $branch ]($style) "
style = "bg:background fg:pink"
symbol = ""

[git_status]
style = "bg:background fg:red"
format = "[$all_status$ahead_behind]($style) "
disabled = false

# Languages
[c]
style = "bg:background fg:orange"
format = "[$symbol$version]($style) "
disabled = false
symbol = " "

[rust]
style = "bg:background fg:orange"
format = "[$symbol$version]($style) "
disabled = false
symbol = ""

[conda]
style = "bg:background fg:yellow"
format = "[$symbol$environment]($style) "
disabled = false

[python]
style = "bg:background fg:orange"
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style) '
disabled = false
symbol = ' '

[lua] 
style = "bg:background fg:orange"
format = "[$symbol$version]($style) "
disabled = false
symbol = '  '

# vim: set ft=toml:
