{{- if eq .theme "dark" }}
theme = "dracula_van_helsing"
{{- else }}
theme = "dracula_alucard"
{{- end }}

[editor]
line-number = "relative"
cursorline = true
color-modes = true
true-color = true
bufferline = "multiple"
text-width = 120
rulers = [120]

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
character = "┆"
skip-levels = 1

[editor.lsp]
display-inlay-hints = true
