{{- if eq .theme "dark" }}
theme = "dracula_van_helsing"
{{- else }}
theme = "dracula_alucard"
{{- end }}

[editor]
line-number = "relative"
cursorline = true
color-modes = true
true-color = true
bufferline = "multiple"
text-width = 120
rulers = [120]

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
character = "┆"

[editor.lsp]
display-inlay-hints = true

[keys.normal]
ret = "goto_word"

[keys.normal.space]
"space" = "file_picker"

# file picker
[keys.normal.space.f]
f = "file_picker"
g = "changed_file_picker"
w = ":write"
k = "file_picker_in_current_buffer_directory"
d = "file_picker_in_current_directory"
r = ":reload"
a = ":toggle file-picker.git-ignore"

# buffer picker
[keys.normal.space.b]
b = "buffer_picker"
n = ":buffer-next"
p = ":buffer-previous"
k = ":buffer-close"
x = ":write-buffer-close"
