# themes
theme = light:DraculaAlucard,dark:DraculaVanHelsing
font-family = "PragmataPro Liga"
font-size = 16
macos-titlebar-style = tabs
macos-option-as-alt = left
copy-on-select = true

# unbind default keybindings
keybind = cmd+t=unbind
keybind = cmd+n=unbind
keybind = cmd+c=unbind
keybind = cmd+w=unbind
keybind = cmd+d=unbind
keybind = shift+cmd+d=unbind
keybind = cmd+opt+left=unbind
keybind = cmd+opt+right=unbind
