;; -*- mode: fennel -*-
(import-macros {: map! : exec! : set! : g!} :hibiscus.vim)

(let [lazypath (.. (vim.fn.stdpath :data) :/lazy/lazy.nvim)]
  (when (not (vim.loop.fs_stat lazypath))
    (vim.fn.system [:git
                    :clone
                    "--filter=blob:none"
                    :--single-branch
                    "https://github.com/folke/lazy.nvim.git"
                    lazypath]))
  (vim.opt.runtimepath:prepend lazypath))

(local lazy (require :lazy))
(lazy.setup [:udayvir-singh/tangerine.nvim
             :udayvir-singh/hibiscus.nvim
             ;; Languages
             :cespare/vim-toml
             ;; Themes
             {1 :Mofiqul/dracula.nvim
              :config (fn []
                        (local dracula-config (require :dracula))
                        {{- if eq .theme "dark" }}
                        (dracula-config.setup {:italic_comment true
                                               :transparent_bg true
                                               :colors {:bg "#0B0D0F"
                                                        :fg "#F8F8F2"
                                                        :selection "#414D58"
                                                        :comment "#708CA9"
                                                        :red "#FF9580"
                                                        :orange "#FFCA80"
                                                        :yellow "#FFFF80"
                                                        :green "#8AFF80"
                                                        :purple "#9580FF"
                                                        :cyan "#80FFEA"
                                                        :pink "#FF80BF"
                                                        :bright_red "#FFAA99"
                                                        :bright_green "#A2FF99"
                                                        :bright_yellow "#FFFF99"
                                                        :bright_blue "#AA99FF"
                                                        :bright_magenta "#FF99CC"
                                                        :bright_cyan "#99FFEE"
                                                        :bright_white "#FFFFFF"}})
                        {{- else }}
                        (dracula-config.setup {:italic_comment true
                                               :transparent_bg true
                                               :colors {:bg "#F5F5F5"
                                                        :fg "#1F1F1F"
                                                        :selection "#CFCFDE"
                                                        :comment "#635D97"
                                                        :red "#CB3A2A"
                                                        :orange "#A34D14"
                                                        :yellow "#846E15"
                                                        :green "#14710A"
                                                        :purple "#644AC9"
                                                        :cyan "#036A96"
                                                        :pink "#A3144D"
                                                        :bright_red "#D74C3D"
                                                        :bright_green "#198D0C"
                                                        :bright_yellow "#9E841A"
                                                        :bright_blue "#7862D0"
                                                        :bright_magenta "#BF185A"
                                                        :bright_cyan "#047FB4"
                                                        :bright_white "#2C2B31"}})
                        {{- end }}
                        (exec! [colorscheme dracula]))}
             {1 :nvim-lualine/lualine.nvim
              ;; :dependencies {1 :nvim-tree/nvim-web-devicons}
              :config (fn []
                        (local lualine-config (require :lualine))
                        (lualine-config.setup {:options {:theme :dracula
                                                         :section_separators ""
                                                         :component_separators ""}
                                               :sections {:lualine_c [{1 :filename
                                                                       :path 1}]}
                                               :tabline {:lualine_a [:buffers]
                                                         :lualine_z [:tabs]}}))}
             {1 :lukas-reineke/indent-blankline.nvim
              :main :ibl
              :config (fn [] (. (require :ibl) :setup)
                        (map! [n] :<leader>ti ":IBLToggle<cr>"))}
             ;; Editor
             {1 :nvim-telescope/telescope.nvim
              :dependencies {1 :nvim-lua/plenary.nvim}
              :config (fn []
                        (let [builtin (require :telescope.builtin)]
                          (map! [n] :<leader>ff builtin.find_files)
                          (map! [n] :<leader>fg builtin.live_grep)
                          (map! [n] :<leader>fb builtin.buffers)
                          (map! [n] :<leader>fh builtin.help_tags)))}
             ;; LSP
             {1 :hrsh7th/nvim-cmp
              :event :InsertEnter
              :dependencies [:neovim/nvim-lspconfig
                             :hrsh7th/cmp-nvim-lsp
                             :hrsh7th/cmp-buffer
                             :hrsh7th/cmp-path]
              :config (fn []
                        (local cmp (require :cmp))
                        (cmp.setup {:snippet {:expand (fn [args]
                                                        (vim.fn.vsnip#anonymous args.body))}
                                    :sources (cmp.config.sources [{:name :nvim_lsp}]
                                                                 [{:name :path}])
                                    :experimental {:ghost_text true}})
                        (cmp.setup.cmdline ":"
                                           {:sources (cmp.config.sources [{:name :path}])}))}
             {1 :neovim/nvim-lspconfig
              :dependencies [:hrsh7th/nvim-cmp]
              :config (fn []
                        (local lsp-config (require :lspconfig))
                        (lsp-config.rust_analyzer.setup {})
                        (lsp-config.pyright.setup {:settings {:pyright {:disableOrganizeImports true}
                                                              :python {:analysis {:ignore ["*"]}}}})
                        (lsp-config.ruff.setup {})
                        (lsp-config.lua_ls.setup {})
                        (lsp-config.fennel_ls.setup {})
                        (lsp-config.clangd.setup {}))}
             {1 :ray-x/lsp_signature.nvim :event :VeryLazy}
             ;; Tree-Sitter
             {1 :nvim-treesitter/nvim-treesitter
              :build ":TSUpdate"
              :config (fn []
                        (local ts-config (require :nvim-treesitter.configs))
                        (ts-config.setup {:ensure_installed [:c
                                                             :lua
                                                             :fennel
                                                             :python
                                                             :rust]
                                          :sync_install false
                                          :highlight {:enable true}
                                          :indent {:enable true}}))}])

;; vim mapleader
(g! mapleader " ")
(g! maplocalleader "\\")

;; default vim settings
(let [opts {:mouse ""
            :scrolloff 2
            :wrap false
            :signcolumn :yes
            :number true
            :splitright true
            :splitbelow true
            :shiftwidth 2
            :softtabstop 2
            :tabstop 2
            :expandtab true
            :ignorecase true
            :smartcase true
            :colorcolumn :120}]
  (each [key value (pairs opts)] (set! key value)))

(map! [n] ";" ":")
(map! [n] :<leader><leader> :<c-^>)
(map! [n] :<leader>o ":e <C-R>=expand(\"%:p:h\") . \"/\" <cr>")
