;;; $DOOMDIR/config.el -*- lexical-binding: t; -*-

;; basic config
(setq user-full-name    "{{- .user.name }}"
      user-mail-address "{{- .user.email }}")

;; font config
(defvar ayano-font-size (if IS-MAC 14 10))

(defvar ayano-fonts '((default  . "{{- .font.program }}")
                      (fixed    . "{{- .font.program }}")
                      (variable . "SF Pro")
                      (cjk      . "{{- .font.cjk.program }}")))

(defun ayano/get-font-family (key)
  (alist-get key ayano-fonts))

(defun ayano/load-default-font ()
  (let ((default-font (format "%s-%d"
                              (ayano/get-font-family 'default)
                              ayano-font-size)))
    (set-face-attribute 'default nil :font default-font)))

(defun ayano/load-face-font ()
  (let* ((fontset (frame-parameter nil 'font))
         (fixed-font (ayano/get-font-family 'fixed))
         (variable-font (ayano/get-font-family 'variable))
         (cjk-font (ayano/get-font-family 'cjk)))
    (set-frame-parameter nil 'font fontset)
    (set-face-attribute 'variable-pitch nil :family variable-font :height 1.0)
    (set-face-attribute 'fixed-pitch nil :family fixed-font :height 1.0)
    (dolist (charset '(han hangul cjk-misc bopomofo kana))
      (set-fontset-font fontset charset cjk-font))))

(defun ayano/load-font ()
  (interactive)
  (ayano/load-default-font)
  (ayano/load-face-font))

(if (display-graphic-p)
    (progn
      (add-hook 'emacs-startup-hook #'ayano/load-font)))

(setq fancy-splash-image "~/Dropbox/Documents/Developer/Emacs/Figures/logo-soul-hackers.png")
(setq display-line-numbers-type t)

;; org-mode quick-config
(setq org-directory "~/Dropbox/Documents/org")
(use-package! org-modern
  :hook
  (org-mode . org-modern-mode)
  (org-agenda-finalize . org-modern-agenda))

;; sly-mode
(use-package! sly
  :config
  (setq sly-lisp-implementations
        '((ros-sbcl ("ros" "run") :coding-system utf-8-unix))))
